.my-blogs {
    padding: 20px;
    background-color: #f9f9f9;
}

.my-blogs h2 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 20px;
}

.posts-container {
    display: block;
    padding: 10px;
}

.post {
    margin-bottom: 20px;
    border: 1px solid #ecf0f1; 
    border-radius: 5px; 
    padding: 10px; 
    background-color: #ffffff; 
    transition: box-shadow 0.3s;
}

.post:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.post h3 {
    font-size: 18px;
    margin: 10px 0 5px;
}

.post p {
    color: #666;
}